<nav class="sticky-top navbar navbar-expand-lg navbar-toggleable-md navbar-light">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-left collapsd" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="myNavbar" class="navbar-collapse collapse">
      <ul class="navbar-nav nav-tabs">
        <!-- NEED TO ROUTE THE LINKS LATER -->
        <li class="nav-item">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Link 2</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Link 3</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Link 4</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
